extends layout

block title
  h1.my-4 Редактирование записи

block content
  form(action="/post/edit/"+article.uuid, onsubmit="return validation()", method="POST")
    .form-group
      label(for='author') Заголовок
        span(style="color:red")
      input#author.form-control(type='text',name='title',value=article.title)
    .form-group
      label(for='text') Заголовочный текст
        span(style="color:red")
      textarea#text.form-control(rows='5',name='text') #{article.text}
    .form-group
      label(for='textFull') Текст
        span(style="color:red")
      textarea#text.form-control(rows='10',name='textFull') #{article.textFull}
    hr
    button.btn.btn-outline-primary(type='submit') Сохранить

block widget

block script
  script.
    function validation (){
      var author = $('#author').val();
      var title = $('#title').val();
      var text = $('#text').val();
      var textFull = $('#textFull').val();
      
      $(".error").remove();
      
      function message (message) {
        $('#error').html('<div class="alert alert-danger error">' + message + '<button class="close" type="button" aria-label="Close" onClick="hello(this)"><span aria-hidden="true">&times;</span></button></div>');
      }
       if (title.length < 1) {
        message('Требуется заголовок');
        return false
      }
       if (text.length < 1) {
        message('Требуется заголовочный текст');
        return false
      }
       if (textFull.length < 1) {
        message('Требуется текст');
        return false
      }
    }