extends layout
block title
  h1.my-4 Login

block content
  form#form(action='/login/', onsubmit="return validation()", method="POST")
    .form-group
      label(for='username') Email or UserName
        span(style="color:red")
      input#username.form-control(type='text',name='username')
    .form-group
      label(for='password') Password 
        span(style="color:red") 
        small Password must be at least 6 characters in length
      input#password.form-control(type='password',name='password')
    button.btn.btn-outline-primary(type='submit') Login

block script
    script.
      function validation (){
        var username = $('#username').val();
        var password = $('#password').val();
        
        $(".error").remove();
        
        function message (message) {
          $('#error').html('<div class="alert alert-danger error">' + message + '<b style="float:right; cursor:pointer; font-weight: normal" onclick="hello(this)">[x]</b></div>');
        }
     
        if (username.length < 1) {
          message('UserName is required');
          return false
        }
        if (password.length < 6) {
          message('Password is required');
          return false
        }
      }