extends layout
block title
  h1.my-4 Login

block content
  form#form(action='/login/', onsubmit="return validation()", method="POST")
    .form-group
      label(for='username') Введите Email или Имя пользователя
      input#username.form-control(type='text',name='username')
    .form-group
      label(for='password') Пароль
      input#password.form-control(type='password',name='password')
    button.btn.btn-outline-primary(type='submit') Войти

block script
    script.
      function validation (){
        var username = $('#username').val();
        var password = $('#password').val();
        
        $(".error").remove();
        
        function message (message) {
          $('#error').html('<div class="alert alert-danger error">' + message + '<b style="float:right; cursor:pointer; font-weight: normal" onclick="hello(this)">[x]</b></div>');
        }
     
        if (username.length < 1) {
          message('Введите Email или Имя пользователя');
          return false
        }
        if (password.length < 6) {
          message('Ведите пароль');
          return false
        }
      }