.message.my-4
  each type in Object.keys(messages)
    each message in messages[type]
      div(class = "alert alert-"+type) #{message}
        button.close(type='button', aria-label='Close', onClick="hello(this)")
          span(aria-hidden='true') &times;