extends layout
block title
  h1.my-4 Регистрация

block content
  form#form(action='/register/', onsubmit="return validation()", method="POST")
    .form-group
      label(for='username') Имя пользователя
      input#username.form-control(type='text',name='username')
    .form-group
      label(for='email') Email 
      input#email.form-control(type='email',name='email')
    .form-group
      label(for='password') Пароль 
        small (не менее 6 символов)
      input#password.form-control(type='password',name='password')
    .form-group
      label(for='password2') Подтвердите пароль
      input#password2.form-control(type='password',name='password2')
    button.btn.btn-outline-primary(type='submit') Зарегистрироваться
    
block script
  script.
    function validation (){
      var username = $('#username').val();
      var email = $('#email').val();
      var password = $('#password').val();
      var password2 = $('#password2').val();
      
      $(".error").remove();
      
      function message (message) {
        $('#error').html('<div class="alert alert-danger error">' + message + '<b style="float:right; cursor:pointer; font-weight: normal" onclick="hello(this)">[x]</b></div>');
      }
   
      if (username.length < 1) {
        message('Введите Имя пользователя');
        return false
      }
      if (email.length < 1) {
        message('Введите Email');
        return false
      } else {
        var regEx = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
        var validEmail = regEx.test(email);
        if (!validEmail) {
          message('Введите валидный Email');
          return false
        }
      }
      if (password.length < 6) {
        message('Пароль должен быть не короче 6 символов');
        return false
      }
      if (password != password2){
        message('Пароль и подтверждение пароля не совпадают');
        return false
      }
    }